.projectImageCcontainer {
  width: 100%;
}
.projectImageCcontainer>span {
  position: unset !important;
}

.projectImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
