@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'ptsans';
    src: url(/fonts/PTSans-Regular.ttf);
    font-weight:400;
    font-style:normal;
    font-display:swap;
  }
  @font-face {
    font-family: 'ptsans';
    src: url(/fonts/PTSans-Bold.ttf);
    font-weight:700;
    font-style:bold;
    font-display:swap;
  }
}
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
/* ? Image Component reset */
.projectImageCcontainer {
  width: 100%;
}
.projectImageCcontainer > span {
  position: unset !important;
}

.projectImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* ? Hamburder Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #64ffda;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.scenemain {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  left: 0!important;
  right: 0!important;
  bottom: 0 !important;
}


.socialIcons{
  transition: all 0.3s ease-in-out;
}
.socialIcons:hover{
  transform: scale(1.2);
  cursor: pointer;
}
label.required::after {
  content: " (required) ";
  margin-right: 4px;
  font-size: 0.8rem;
  /* color: red; */
}