@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ptsans";
    src: url(/fonts/PTSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "ptsans";
    src: url(/fonts/PTSans-Bold.ttf);
    font-weight: 700;
    font-style: bold;
    font-display: swap;
  }
}
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
/* ? Image Component reset */
.projectImageCcontainer {
  width: 100%;
}
.projectImageCcontainer > span {
  position: unset !important;
}

.projectImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* ? Hamburder Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.scenemain {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.socialIcons {
  transition: all 0.3s ease-in-out;
}
.socialIcons:hover {
  transform: scale(1.2);
  cursor: pointer;
}
label.required::after {
  content: " (required) ";
  margin-right: 4px;
  font-size: 0.8rem;
  /* color: red; */
}

.aboutMeList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.labelShaddow{
  -webkit-box-shadow: 2px 8px 20px -2px #FDAA1E; 
  box-shadow: 2px 8px 20px -2px #FDAA1E;
}



/* ? Ribbon */
/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: 7px;
  left: 8px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}